body {
  overflow: hidden;
  background: #fafafa;
}

.centered {
  margin: 2rem 1rem 2rem 3rem;
}

.wrapper {
  display: flex;
  align-items: stretch;
}

.row-border {
  width: 26.5rem;
  border-bottom: 0.1rem solid #ccc;
}

#sidebar {
  background: #fff;
  color: #000;
  transition: all 0.3s;
  min-width: 25rem;
  max-width: 25rem;
  height: 100vh;
  border-right: 0.1rem solid #ccc;
}

#sidebar-header {
  padding: 2.5rem;
  border-bottom: 0.1rem solid #ccc;
}

#inputModel {
  display: none;
}

#inputModel + label {
  font-size: 1.5rem;
  color: white;
  background-color: rgb(155, 0, 147);
  display: inline-block;
  cursor: pointer;
  border-radius: 1rem;
  padding: 0.5rem;
}

#inputModel:focus + label,
#inputModel + label:hover {
  background-color: rgb(105, 0, 100);
}

#content {
  width: calc(100% - 250px);
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}

#canvas {
  position: absolute;
  border: 0px;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}
