body {
  overflow: hidden;
  background: #fafafa;
}

.centered {
  margin: 2rem 1rem 2rem 3rem;
}

.wrapper {
  display: flex;
  align-items: stretch;
}

.row-border {
  width: 18.9rem;
  border-bottom: 0.1rem solid #ccc;
}

.range {
  width: 13.5rem;
}

.removeLight:hover {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

label {

  font-weight: 500;
}

.drag-area {
  border: 0.2rem dashed #fff;
  height: 20rem;
  width: 30rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(89, 184, 228);

  margin: auto;
  width: 50%;
  margin-top: 25vh;
}

.drag-area.active {
  border: 0.2rem solid #fff;
}

.drag-area header {
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
}

#sidebar {
  overflow-y: scroll;
  overflow-x: hidden;
  background: #fff;
  color: #000;
  transition: all 0.3s;
  min-width: 18rem;
  max-width: 18rem;
  height: 100vh;
  border-right: 0.1rem solid #ccc;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#sidebar-header {
  padding: 2.5rem;
  border-bottom: 0.1rem solid #ccc;
}

#input-model {
  display: none;
}

#input-model + label,
#loading-model-label {
  color: rgb(0, 149, 218);
  font-weight: 600;
  background-color: white;
  display: inline-block;
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 0.5rem;
}

#input-model:focus + label,
#input-model + label:hover,
#loading-model-label:focus,
#loading-model-label:hover {
  background-color: rgb(218, 218, 218);
}

#btn-render,
#btn-loading,
#btn-clear,
#btn-download {
  color: white;
  background-color: rgb(0, 149, 218);
}


#btn-render:focus,
#btn-render:hover,
#btn-clear:focus,
#btn-clear:hover,
#btn-download:focus,
#btn-download:hover {
  background-color: rgb(0, 149, 218);
}

#btn-loading {
  cursor: default;
}

#content {
  width: calc(100% - 18rem);
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}

#canvas {
  position: absolute;
  border: 0px;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

#context-menu {
  position: fixed;
  z-index: 10000;
  width: 150px;
  background: rgb(250, 250, 250);
  border-radius: 5px;
  display: none;
  border: 0.1rem solid rgb(0, 149, 218);
}

#context-menu.visible {
  display: block;
}

#context-menu .item {
  padding: 8px 10px;
  font-size: 15px;
  color: #1b1a1a;
  cursor: pointer;
  border-radius: inherit;
}

#context-menu .item:hover {
  background: rgb(235, 235, 235);
}
