# Ignorar archivos y directorios generados por el entorno de desarrollo
node_modules/
npm-debug.log
yarn-error.log

# Ignorar archivos y directorios de construcción
dist/
build/
out/

# Ignorar archivos de configuración local


# Ignorar archivos de respaldo de editor
*~
.vscode/